.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}

.box {
  border: 1px solid black; /* Shows the lines in the CSS grid */
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
}



.container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3em;
  justify-content: center;    

}

.message {
  text-align: center;
  margin: 100px;
  margin-left: 0px;
  color: rgb(55, 26, 148);
  font-size: 25px;
}


.players{
  display: grid;
  align-content: start; 
  justify-self: end;
  margin-bottom: 0;
  column-row: 3em;

}

.player, .spectators{
  border-radius: 25px;
  padding: 1em 1.5em;
  margin-bottom: 5px;
  background-color: #6d6dad;
  text-align: center;
    
}

.player h3{
  margin-top: 0;
  margin-bottom: 0.6em;
  
}

.symbol {
  font: 'Noto Sans', sans-serif;
  margin: 0;
}

.reset-button {
    background-image: linear-gradient(to right, rgb(148, 33, 146), rgb(55, 26, 148));
    width: 250px;
    background-color: #00BFFF;
    margin: 15px 30px;
    border: none;
    padding: 13px;
    color: white;
    font-size: 1em;
}

p{
  margin: 0;
}

ul {
  list-style-type: circle;
  padding: 0 2em;
}

li{
  text-align: left
}

.highlight {
  background-color: pink;
}



