
.leaderboard{
    text-align:center;
}

.highlight {
  background-color: rgb(148, 33, 146);
}

.leaderboard-btn {
    background-image: linear-gradient(to right, rgb(148, 33, 146), rgb(55, 26, 148));
    width: 250px;
    background-color: #00BFFF;
    margin: 15px 30px;
    border: none;
    padding: 13px;
    color: white;
    font-size: 1em;
    
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}